@media (max-width: 1000px) {
    html {
        font-size: 50%;
    }

    .navigation,
    .features-section,
    .designs-section,
    .process-section,
    .about-section,
    .subscribe-section {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .hero-section,
    .footer {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .hero-section__content,
    .footer__content {
        padding-right: 5rem;
        padding-left: 5rem;
    }

    .arrows {
        right: 8rem;
    }
}

@media (max-width: 600px) {
    .navigation,
    .features-section,
    .designs-section,
    .process-section,
    .about-section,
    .subscribe-section {
        padding-left: 2.8rem;
        padding-right: 2.8rem;
    }
    #mobile-nav-icon {
        display: inline-block;
        position: absolute;
        right: 2rem;
        top: 5rem;
    }

    .mobile-nav ul,
    li {
        list-style: none;
        padding: 0;
        margin-top: 5rem;
        text-align: center;
    }

    .mobile-nav a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: bold;
        display: block;
    }

    /* .img.logo {
        margin-bottom: 5rem;
    } */
    .testimonials-section__left {
        padding-left: 2.8rem;
    }

    .arrows {
        right: 2.8rem;
    }

    .hero-section,
    .footer {
        padding-right: 1.4rem;
        padding-left: 1.4rem;
    }

    .hero-section__card,
    .footer__content {
        padding-right: 2.8rem;
        padding-left: 2.8rem;
    }

    .footer {
        padding-bottom: 2.8rem;
    }

    .navigation__links,
    .navigation__action {
        display: none;
    }

    .hero-section__left {
        display: block;
        width: 100%;
        margin-bottom: 3.6rem;
    }

    .hero-section__left .cicle {
        top: 5.5rem;
    }

    .hero-section__right {
        display: block;
        width: 100%;
    }

    .feature {
        display: block;
        width: 100%;
    }

    .features-section .feature {
        margin-right: 0rem;
        text-align: center;
    }

    .features-section .feature:not(:last-child) {
        margin-bottom: 4rem;
    }

    .feature-icon,
    .feature-text {
        display: block;
        margin: 0 auto;
    }

    .feature-icon {
        margin-bottom: 3rem;
        /* margin-right: 0;  */
    }

    .design-card {
        display: block;
        width: 100%;
        margin-bottom: 3rem;
        margin-right: 0;
    }

    .designs-section .heading-3 {
        font-size: 3.2rem;
        text-align: center;
    }

    .arrows {
        display: none;
    }

    /* .designs-section {
        padding-left: 3rem;
        padding-right: 3rem;
    } */

    .designs-section .design-card:not(:last-child) {
        margin-right: 0;
    }

    /* .process-section {
        padding: 0;
    } */

    .number,
    .process-heading,
    .process-text,
    .process-link {
        display: block;
        width: 100%;
    }

    /* .uppercase-text-1,
    .process-line,
    .process-heading,
    .uppercase-text,
    .process-link {
        display: block;
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;
        margin-right: 0;
        padding: 3rem;
    } */

    .process-section .uppercase-text-1 {
        margin-bottom: 0;
    }

    .process-text,
    .process-link {
        margin-bottom: 3.5rem;
    }

    .number {
        margin-top: 3.5rem;
    }

    .number,
    .process-heading {
        margin-bottom: 1.6rem;
    }

    #process-section .process-line:not(:last-child) {
        margin-bottom: 3.5rem;
        border-bottom: 0.2rem solid #dfdfdf7c;
    }

    .process-line {
        align-items: center;
        display: block;
    }

    .about-section__left {
        display: block;
        width: 100%;
    }
    .about-section__left .img-box {
        display: block;
        width: 100%;
    }

    /* .about-section {
        padding: 5rem 3rem;
    } */
    .about-section__right {
        display: block;
        width: 100%;
    }
    .about-section__right h3 {
        font-size: 3.2rem;
    }
    .testimonials-section__left {
        display: block;
        width: 100%;
        padding: 30rem 5rem;
    }
    .testimonials-section__right {
        display: block;
        width: 100%;
    }
    .testimonials-img {
        display: block;
        width: 100%;
    }
    .play-btn {
        top: 50%;
        left: 50%;
    }

    #emailInput,
    #subscribeInput {
        display: block;
        width: 100%;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    /* .footer,
    .hero-section {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
    .footer__content,
    .hero-section {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    } */

    .footer__content > * {
        display: block;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .footer__brand,
    .footer__contact,
    .footer__product,
    .footer__about-us {
        align-items: center;
        text-align: center;

        margin: 0;
        width: 100%;
    }
    .footer__content > *:not(:first-child) {
        width: 100%;
        padding-bottom: 1.6rem;
    }
    .footer__heading .uppercase-text-2 {
        padding-bottom: 1rem;
    }
}
